.actions-container {
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  margin-top: 2px;
  background-color: #fff;
  font-weight: 600;
  color: #aaa;
  font-family: "Bradley Hand", cursive;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

.left-side {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

.categories div {
  margin: 0 7px;
  cursor: pointer;
}

.clear-completed:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.active-choice {
  color: rgba(43, 130, 230, 0.9);
}

span:hover {
  color: rgba(43, 130, 230, 0.9);
}

@media (max-width: 700px) {
  .actions-container {
    flex-direction: column;
    height: 13vh;
  }
  .left-side {
    width: 100%;
    justify-content: space-between;
  }
}
