@import "mixins/absolute-center";
@import "mixins/main-txt";

.tool-btn {
  color: rgba(255, 255, 255, 0.6);
  font-size: 35px !important;
  cursor: pointer;
  &:hover {
    color: #fff;
    transform: scale(1.2);
    transition: 0.3s;
  }
}

.profile {
  @include absolute-center(1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 50vw;
    max-width: 350px;
    margin-bottom: 20px;
    border: 8px solid white;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border: 12px solid rgba(255, 255, 255, 0.5);
      transition: 0.4s;
    }
  }

  &__name {
    @include main-txt(1.5em, 0.8);
    text-align: center;
  }

  &__input {
    @include main-txt(1.5em, 1);
    width: 100%;
    padding: 15px;
    letter-spacing: 2px;
    color: black;
    border: 1.5px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__tools {
    position: absolute;
    top: 0;
    right: -40px;
    display: flex;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_add {
      @extend .tool-btn;
    }

    &_edit {
      @extend .tool-btn;
    }

    &_save {
      @extend .tool-btn;
    }
  }
}
