@import "mixins/main-txt";
@import "mixins/flex-between";
@import "mixins/absolute-position";

.header {
  @include flex-between;
  @include absolute-position(0, 0);
  left: 0;
  align-items: center;
  padding: 15px 50px;
  background-color: rgba(99, 12, 170, 0.6);

  @media (max-width: 500px) {
    padding: 15px 20px;
  }

  &__logo {
    @include flex-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    @include main-txt(2em, 0.8);
    margin-left: 20px;
    @media (max-width: 400px) {
      @include main-txt(1.9em, 0.8);
      margin-left: 10px;
    }
  }

  &__account {
    position: relative;
    cursor: pointer;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @media (max-width: 400px) {
      width: 35px;
      height: 35px;
    }
  }

  &__arrow {
    margin-left: 10px;
    &:hover {
      color: white !important;
    }
    @media (max-width: 400px) {
      display: none !important;
    }
  }
}
