@import "mixins/main-txt";

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 50px;
  background-color: rgba(99, 12, 170, 0.6);

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include main-txt(2em, 0.8);
    margin-left: 20px;
  }

  &__account {
    cursor: pointer;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__arrow {
    margin-left: 10px;
    &:hover {
      color: black !important;
    }
  }
}
